.App {
  text-align: center;
  background-color: forestgreen; /* Changed background color to forest green */
  color: white; /* Make the text white for contrast */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  font-size: 2rem;
  font-weight: bold;
}

h1, h2 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #00ccff; /* Change link color to a bright blue */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul li {
  margin: 10px 0;
}

ul li a {
  font-size: 1.2rem;
}
