.home-container {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.profile-section {
  position: sticky;
  top: 20px;
  margin-right: 20px;
  flex-shrink: 0;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.content-section {
  flex: 1;
  margin-left: 20px;
}

.shelf {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-top: 40px;
}

.shelf-item {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  width: 200px;
  margin: 20px;
}

.shelf-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.shelf-item p {
  margin-top: 10px;
  font-size: 1rem;
}

.App-header {
  background-color: #f0f0f0;
  padding: 20px;
  font-size: 1.5rem;
}

.App-header nav a {
  margin: 0 10px;
  text-decoration: none;
  color: blue;
}

.App-header nav a:hover {
  text-decoration: underline;
}

.logo {
  width: 40px;
  height: 40px;
  margin: 10px 0;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.links-container a {
  display: inline-block;
}
