.App {
  text-align: center;
  background-color: white; /* Set a plain white background */
  color: black; /* Set text to black */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  font-size: 1.5rem;
}

h1, h2 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: blue; /* Standard link color */
  text-decoration: none;
}

a:visited {
  color: purple; /* Standard visited link color */
}

a:hover {
  text-decoration: underline;
}

.profile-picture, .shelf-item img {
  border: none; /* Remove image styling */
}

body {
  font-size: 14px;
  background-color: white; /* Default white background */
}
